@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --mainfont: 'Poppins', sans-serif;
    --font-color: #070327; 
    --sub-font-color: rgb(243, 240, 225);  
    --main-background-color: #f3e5e5;   
    --pink-color:rgb(226, 104, 104);
    --blue-background: #03506f;
}

* {
    margin:0px;    
}

html {
    width: 100%;
    text-align: center;
    background-color: var(--main-background-color);
    color: var(--font-color); 
    font-family:var(--mainfont);
    font-weight: 400;
}

a { 
    text-decoration: none;
}

.logo a {
    color:rgb(243, 240, 225);
}

.logo {
    margin:0;
    padding: 2rem;
}

h3 .logo{
    padding: 0.5%;
    font-size: 120%;
    letter-spacing: 0.1rem;    
}

.headings {
    padding-top:2%;
    padding-bottom: 2%;
    font-size: 2rem;
    margin:0;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

header {    
    background-color:  rgb(19, 19, 43);
    color: var(--sub-font-color);
}

h1 {    
    font-size:270%;
    letter-spacing: 0.15rem;
}

.nav-bar {
    padding: 0.5%;
    background-color: var(--blue-background);  
} 

.nav-bar a {
    color: var(--sub-font-color);
    padding: 1rem;
}

.nav-bar a:hover {
    color: var(--pink-color);
}

.about {
    margin-right:10%;
    margin-left:10%;
}

button {
    margin: 0.1rem; 
    margin-bottom: 0.01rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 7%;
    background-color:var(--pink-color);
}

button:hover {
    opacity: 0.8;
}

.overlay-btns {
    margin: 0.3%;
    margin-bottom: 0.1%;
}
.symptoms-container{
    margin: 3%;
}    

ul {
    margin-top: 3%;
}

.test-container {
    padding-left: 10%;
    padding-right: 10%;
}

.testing-area, #overlay-effect{
    border: 3px solid black;
    color: black;  
    text-align: center;   
    
}

#overlay-effect {    
    position: relative;
}
.test-area {
    margin: 1%;
}

#test-box {
    z-index: -1;
    position: relative; 
    padding: 6%;    
    font-family: serif;
}

#testing-area {
    margin: 0.3%;
    background-color: white;
    position: relative;
    z-index: -2;
}

.wordings:hover {
    background-color: rgb(247, 248, 203);
}
#start-btn {
    background-color: var(--pink-color);
    margin-top: 0.1%;
}

.results-area {
    margin:1rem;
}

input, label {
    display: inline-block;
}
/* Table */

#results-table {
    border: 2px solid black;
    border-radius: 2%;
    display: inline-block; 
    border-spacing: 0px;
    color: black;    
}
 

th, td {
    padding: 2rem;
    background-color: rgb(247, 248, 203);
    border: 1px solid black;    
}

footer {
    background-color: var(--pink-color);
    margin-top: 2%;
}

footer > p {
    padding: 1%;
    text-align: center;
}

embed {
    width:70%;
    height: 23rem;
}

@media (min-width: 850px) {
    .symptoms-container{
    margin-right:20%;
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    }

   footer > p {
    display: inline-block;
    padding: 1%;
    width: 31%;
    }
}